# The directory Mix will write compiled artifacts to.
/_build
/test/dummy/_build

# If you run "mix test --cover", coverage assets end up here.
/test/dummy/cover

# The directory Mix downloads your dependencies sources to.
/test/dummy/deps

# Where 3rd-party dependencies like ExDoc output generated docs.
/test/dummy/doc

# Ignore .fetch files in case you like to edit your project deps locally.
/test/dummy/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
/test/dummyerl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# ignore logs
/log
/test/dummy/log
